body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    background-color:rgba(39, 63, 61, 0.596)
}
ul li:hover{
    background-color: transparent;
}
a{
    text-decoration: none;
    color: white;
    padding: auto;
    text-align: center;
}

nav ul{
text-align: right;
margin-top: -30px;
position: fixed;
left: 35%;
}

#mainHeader{
    margin-top: 0px;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)),url(https://i.ytimg.com/vi/x6uS0m-HDI4/maxresdefault.jpg);
    margin-bottom: 0px;
}
#logo img{
    width: 40%;
    height:  50px;
    }

#logo{
    position: relative;
    top: 70px;
    left: 100px;
    width: 40%;
}

.centerInfo {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 30%;
    color: white;
    text-shadow: 4px 4px 4px rgba(24, 173, 173, 0.644);
    font-size: 25px;
}

button {
    width: 20%;
    height: 40px;
    color: red;
    background-color: rgba(113, 119, 81, 0.486);
    font-size: 20px;
    font-weight: bold;
}

.testimonies{
    background-color: rgba(113, 119, 81, 0.486);
    height: 500px;
    position: relative;
    top: -30px;
    text-align: center;
}

.testimonies h4{
    padding-top: 70px;
color: red;
}
.people{
    width: 250px; 
    height:250px; 
    background-color: azure;
    float: right;
    margin: 0 35px;
}

footer{
    text-align: center;
}

.down-menu{
    margin-top: -55px;
    background-color: rgba(45, 51, 49, 0.493);
    color: white;
    text-align: center;
}



footer a{
    position: relative;
    top: 5px;
    left: 10px;
    color: #130d0e;
    margin: 0 10px;
    bottom: 0px;
    width: 100%;
    background: transparent;
 
 }